version: '3'

services:
  rabbitmq:
    image: rabbitmq:3.10-management
    container_name: 'rabbitmq'
    volumes:
        - ./rabbitmq/data/:/var/lib/rabbitmq/mnesia
        - ./rabbitmq/log/:/var/log/rabbitmq
    ports:
        - 5673:5672
        - 15673:15672
    networks:
        - rabbitmq_nodejs

  worker-management:
    build: .
    container_name: 'worker-management'
    volumes:
      - C:/xampp/htdocs/trueroot:/home/trueroot
      - .:/home/node/worker-mngt
      - ./cert::/home/node/worker-mngt/cert
    depends_on:
      - "rabbitmq"
    environment:
      SUCCESS_ROOT: /home/trueroot/success
      AMQP_URL: amqp://guest:guest@rabbitmq:5672
      HTTP_URL:
    ports:
      - 3000:3000
    networks:
      - rabbitmq_nodejs

networks:
  rabbitmq_nodejs:
    driver: bridge