version: '3'

services:
  rabbitmq:
   image: rabbitmq:3.10-management
   container_name: 'worker_rabbitmq'
   ports:
       - 5673:5672
       - 15673:15672
   networks:
       - worker-rabbitmq

  worker-management:
    build: .
    container_name: worker-management
    volumes:
      - /home/trueroot:/home/trueroot
    environment:
      NODE_ENV: local
      SUCCESS_ROOT: /home/trueroot/success
      AMQP_URL: amqp://rabbitmq:5672
    ports:
      - "3001:3000"
    extra_hosts:
      - "true.success.beta:192.168.1.27"
    networks:
      - worker-rabbitmq
      #command: bash -c "while true; do echo hello; sleep 2; done"
      #command: bash -c "node server.json" 

networks:
  worker-rabbitmq:
    driver: bridge
    name: worker-rabbitmq


