version: '3'

services:
  rabbitmq:
   image: rabbitmq:3.10-management
   container_name: 'worker_rabbitmq'
   ports:
       - 5673:5672
       - 15673:15672
   networks:
       - worker-rabbitmq

  worker-management:
    build: 
      context: .
      args:
        - ENV=local
      dockerfile: Dockerfile
    container_name: worker-management
    volumes:
      - ./logs:/home/node/worker-mngt/logs
      - ./src:/home/node/worker-mngt/src
    environment:
      NODE_ENV: local
      AMQP_URL: amqp://rabbitmq:5672
    ports:
      - "3000:3000"
    extra_hosts:
      - "true.success.duc:host-gateway"
    networks:
      - worker-rabbitmq

networks:
  worker-rabbitmq:
    driver: bridge
    name: worker-rabbitmq