version: '3'

services:
  #rabbitmq:
  #  image: rabbitmq:3.10-management
  #  container_name: 'rabbitmq'
  #  volumes:
  #      - ./rabbitmq/data/:/var/lib/rabbitmq/mnesia
  #      - ./rabbitmq/log/:/var/log/rabbitmq
  #  ports:
  #      - 5673:5672
  #      - 15673:15672
  #  networks:
  #      - rabbitmq_nodejs

  worker-management:
    build: .
    container_name: 'worker-management'
    volumes:
      - /home/trueroot:/home/trueroot
      - .:/home/node/worker-mngt
    environment:
      SUCCESS_ROOT: /home/trueroot/success
      AMQP_URL: amqp://admin:<passwd>@10.240.206.2:5672
    ports:
      - 3000:3000
        #network_mode: host
    networks:
      - rabbitmq_nodejs
      #command: bash -c "while true; do echo hello; sleep 2; done"
      #command: bash -c "node server.json" 
networks:
  rabbitmq_nodejs:
    driver: bridge
                

